header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.9); 
    border-radius: 8px;
}

.logo img {
    width: 50px;
    height: auto;
    margin-right: 20px;
}

.restaurant-name {
    font-size: 2em;
    margin: 0;
    color: #333;
    font-weight: bold;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: URL('../Images/Fondo\ oro\ 1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.main-area {
    padding: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

.section {
    margin-bottom: 40px;
    width: 100%; 
    max-width: 1200px;
    background-color: rgba(255, 255, 255, 0.9); 
    border-radius: 8px; 
    padding: 20px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.restaurant-grid {
    display: flex; 
    justify-content: space-around; 
}

.hall {
    flex: 1; 
    margin: 0 10px; 
    text-align: center; 
}

.hall img {
    width: 100%; 
    height: auto; 
    border-radius: 10px; 
}

.dishes-grid {
    display: flex; 
    justify-content: space-around; 
    flex-wrap: wrap; 
}

.dish {
    flex: 1; 
    margin: 10px; 
    max-width: 200px; 
    text-align: center;
}

.dish img {
    width: 100%; 
    height: auto; 
    border-radius: 10px; 
}

.countries-grid {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-around; 
}

.country {
    flex: 1;
    margin: 10px; 
    max-width: 200px; 
    text-align: center; 
}

h1 {
    text-align: center;
    font-size: 2.5rem; 
    margin-bottom: 20px;
    color: #333; 
}

h2 {
    margin: 10px 0;
    color: #066b0d;
}
.dish-number {
    font-weight: bold; 
    font-size: 1.5rem; 
    color: #318335; 
    display: block; 
    margin-bottom: 5px; 
}